<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxHide fxShow.xs >
    <span class="logo" >Forum App</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxLayout="row">
      <a mat-button routerLink="/" routerLinkActive="router-link-active">
        <mat-icon fxHide fxShow.xs [matMenuTriggerFor]="menu">dehaze</mat-icon>
        <mat-icon fxShow fxHide.xs>home</mat-icon>
        <span class="logo" fxShow fxHide.xs>Forum App</span>
      </a>
      <div fxLayout="row" fxShow fxHide.xs>
        <a mat-button>Home</a>
        <a mat-button>About us</a>
        <a mat-button>Contact us</a>
      </div>
    </div>

    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button>
          <mat-icon>person_outline</mat-icon>
        </a>
        <span>{{userEmail}}</span>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)='onLogout()'>Logout</button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar><br><br>
<!-- menu items -->
<mat-menu #menu="matMenu" fxLayoutAlign="end" style="margin-top: 10px !important; margin-left: -35px !important">
  <button mat-menu-item>Home</button>
  <button mat-menu-item>About Us</button>
  <button mat-menu-item>Contact Us</button>
</mat-menu>
<!-- <mat-drawer #drawer mode="over" hasBackdrop='true'>I'm a drawer</mat-drawer> -->
