<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header><br>
<main>
  <div class="container mat-body-1">
    <h1 style="color: darkgreen">Willkommen zum Austauch-Forum</h1>
    <span>Es handelt sich um eine Forum App wo jeder seine Publikationen Veröffentlichen kann
          und Publikationen von andere lesen kann.
    </span>
    <span><h3>Wie funktioniert die App</h3></span>
    <ul>
      <li>Man kann sich registrieren</li>
      <li>man kann sich einloggen</li>
      <li>auch wenn man nicht registriert oder nicht eingeloggt ist kann man trotzdem
          alle Veröffentlichungen lesen
      </li>
      <li>Man darf nur eine Veröffentlichung anpassen oder löschen wenn mann
          der Ersteller dieser Veröffentlichung ist.
      </li>
      <li>Die App ist responsiv und kann auch auf Handy Modus angeschaut werden </li>
    </ul>
    <h4 style="color: brown">Jetzt legen Sie ein Profil ein und testen Sie die App</h4>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>



