
mat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

mat-form-field,
textarea{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}
