
.info-text{
  text-align: center;
}

.container{
  width: 90%;
  margin: 1rem auto;

}

.mat-spinner{
  margin: auto;
}

.post-image{
  width: 100%;
}

.post-image img{
  width: 100%;
  // height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
